# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
ENV/
env/

# Distribution / packaging
build/
dist/
*.egg-info/

# PyInstaller
*.manifest
*.spec
*.pyz

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache/
nosetests.xml
coverage.xml

# VS Code
.vscode/
*.code-workspace

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Misc
*.iml

